<title>Admission</title>
<link rel="icon" type="image/x-icon" href="/logo.png">

<%- include('../Layout/Bootstrap') %>
<%- include('../Layout/Logo') %>

<body>
    <hr class="mt-5">
         
    <div id="Content" class="mt-3">
      <div class="row w-100">
        <div class="col" id="LoginDiv">
          <div id="LoginAdmissionDiv">
          <h2 class="pl-5">Login Student</h2>
            <h3 id="Error" class="text-danger mt-3" style="margin-left: 20%;"> </h3>
            <form action="" id="LoginAdmission" class="form-group w-50 ml-5" autocomplete="off">
                <input type="text" name="AdmissionNO" id="AdmissionNO" class="form-control mt-5" value="" placeholder="Admission NO" required>
                <input type="Password" name="Password" id="LoginPassword" class="form-control mt-5" value="" placeholder="Password" required>
                <input type="checkbox" name="Agree" id="" class="mt-5" required> I am Register 
                <br>
                <button type="submit" class="btn btn-success mt-5">Login</button>
                <button type="button" class="btn btn-primary mt-5 ml-4" data-toggle="modal" data-target="#ForgetPasswordModel">Forget Password</button>
            </form>
          </div>
        </div>
        <div class="col">
          <div class="border mt-2 p-3">
            <div id="instruction" class="mt-3">
                 <center><h3 class="text-danger">Admission Registration Instruction</h3></center>
                 <h6 class="mt-4"> 10th and 12th Passed with 60% percantage for Admission</h6>
                 <h6> 10th and 12th Passed Real Document for Admission</h6>
                 <h6> Admission Registration Fees 5600.00 Rs.</h6>
                 <h6> 10th and 12th Passed with 60% percantage for Admission</h6>
                 <h6> 10th and 12th Passed with 60% percantage for Admission</h6>
                 <h6> 10th and 12th Passed with 60% percantage for Admission</h6>
                 <h6> 10th and 12th Passed with 60% percantage for Admission</h6>
                 <h6> 10th and 12th Passed with 60% percantage for Admission</h6>
                 <button class="btn btn-danger mt-3" id="NewRegistration">New Condiate</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
<div class="modal" id="ForgetPasswordModel">
    <div class="modal-dialog">
      <div class="modal-content"> 
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Forget Password</h4>
          <button type="button" class="btn-close" data-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form class="form-group" id="LMSLoginPasswordForget" autocomplete="off">
                <input type="text" name="AdmissionNO" id="AdmissionNO" class="form-control mt-3" placeholder="Admission NO" required>
                <input type="text" name="Password" id="Password" class="form-control mt-3" placeholder="New Password" required>
                <input type="checkbox" name="Agree" id="" class="mt-4" required> I am Register
                <div class="modal-footer mt-3">
                  <button type="submit" class="btn btn-warning mt-3" id="">Submit</button>
                  <button type="button" class="btn btn-danger mt-3" data-dismiss="modal">Close</button>
              </div>
            </form>
        </div> 
        <!-- Modal footer -->
      </div>
    </div>
</div>
<script>
  $('document').ready(function(){
      $('#NewRegistration').click(function(){
        alert('New Condiate')
        window.location='/admission/admissionRegistration'
      })
      $('#LoginAdmission').submit(function(event){
          event.preventDefault()
          $.ajax({
            url:'/admission/admissionLogin',
            type:'get',
            data:$('#LoginAdmission').serialize(),
            success:function(Result){alert(Result)},
            error:function(error){alert(error)}
          })
      })
      $('#LMSLoginPasswordForget').submit(function(event){
          event.preventDefault()
          $.ajax({
            url:'/admission/admissionPasswordForget',
            type:'post',
            data:$('#LMSLoginPasswordForget').serialize(),
            success:function(Result){alert(Result)},
            error:function(error){alert(error)}
          })
      })
  })
</script>