<title>Admission Registration</title>
<link rel="icon" type="image/x-icon" href="/logo.png">

<%- include('../Layout/Bootstrap') %>
<%- include('../Layout/Logo') %>
<link rel="stylesheet" href="/admission/AdmissionRegistrationstyle.css">
<hr class="mt-5">

    <body class="bg-light mb-5">
        <div class="container border bg-white p-3" id="Content" style="border-radius: 10px;">
            <form id="AdmissionRegistrationForm" autocomplete="off">
        <div><h3 class="text-danger">Admission Registration</h3></div>
         <div class="row">
            <div class="col">
                <label for=""> Academic Session</label>
                <select name="AcademicSession" id="" class="form-control bg-light" required>
                    <option value="">Select Session</option>
                    <option value="2023-2024">2023-2024</option>
                </select>
                <div class="mt-5">
                    <label for=""> is already Enrolled in</label>
                    <input type="checkbox" name="CheckedEnroll" id="Name" onclick="showEnrollment()"  value="" class="ml-2">
                </div>
            </div>
            <div class="col">
                <div class="">
                    <label for="">Admission For</label>
                    <select name="AdmissionFor" id="" class="form-control bg-light" required>
                        <option value="">Select Session</option>
                        <option value="Post Graducate (PG)">Post Graducate (PG)</option>
                        <option value="Under Graducate (UG)">Under Graducate (UG)</option>
                    </select>
                </div>
                <div id="hide" class="mt-4" hidden>
                    <label for="" >Enrollment NO</label>
                    <input type="text" name="EnrollmentNO" id="EnrollmentNO"  placeholder="Enrollment NO" class="form-control bg-light">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <label for=""> Name</label>
                <input type="text" name="Name" id="Name"  value="" placeholder="Name" class="form-control bg-light" required>
            </div>
            <div class="col mt-4">
                
                <label for="">Father's Name</label>
                <input type="text" name="FatherName" id="FatherName"  placeholder="Father's Name" class="form-control bg-light" required>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <label for=""> Mother's Name</label>
                <input type="text" name="MotherName" id="MotherName"  placeholder="Mother's Name" class="form-control bg-light " required>
            </div>
            <div class="col mt-4">
                <label for="">Gender</label>
                <select name="Gender" id="Gender"  class="form-control bg-light " required>
                    <option value="">Select Gender</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <label for="">Caste Categories</label>
                <select name="CasteCategories" id="CasteCategories"  class="form-control bg-light " required>
                    <option value="">Select Categories</option>
                    <option value="General">General</option>
                    <option value="OBC">OBC</option>
                    <option value="SC/ST">SC/ST</option>
                    <option value="Other Category">Other Category</option>

                </select>
            </div>
            <div class="col mt-4">
                <label for="">Religion</label>
                <select name="Religion" id="Religion"  class="form-control bg-light " required>
                    <option value="">Select Religion</option>
                    <option value="Buddhist">Buddhist</option>
                    <option value="Christian">Christian</option>
                    <option value="Hindu">Hindu</option>
                    <option value="Jain">Jain</option>
                    <option value="Muslim">Muslim</option>
                    <option value="Parsi">Parsi</option>
                    <option value="Sikh">Sikh</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <label for="">Email</label>
                <input type="email" name="Email" id="Email"  value="" placeholder="Email" class="form-control bg-light " required>
            </div>
            <div class="col mt-4">
                <label for="">Mobile</label>
                <input type="tel" name="Mobile" id="Mobile"  value="" placeholder="Mobile"minlength="10" maxlength="10"  class="form-control bg-light " required>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <label for="">AadharNO</label>
                <input type="tel" name="AadharNO" id="AadharNO" minlength="12" maxlength="12"  placeholder="Aadhar NO " class="form-control bg-light " required>
            </div>
            <div class="col mt-4">
                    <label for="">Date of Birth</label>
                    <input type="tel" name="DOB" id="DOB" placeholder="DD/MM/YYYY" class="form-control bg-light " min="1970-01-01" max="2030-12-31" required>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <label for="">Course</label>
                <select name="" id="" class="form-control bg-light"required>
                    <option value="">Select Course</option>
                    <option value="BCA">BCA</option>
                    <option value="BBA">BBA</option>
                    <option value="B.A">B.A</option>
                    <option value="B.Sc">B.Sc</option>
                    <option value="B.Com">B.Com</option>
                    <option value="MCA">MCA</option>
                    <option value="MBA">MBA</option>
                    <option value="M.Sc">M.Sc</option>
                </select>
            </div>
            <div class="col mt-4">
                    <label for="">Course type</label>
                    <select name="" id="" class="form-control bg-light"required>
                        <option value="">Select Course Type</option>
                        <option value="Private">Private</option>
                        <option value="Regular">Regular</option>
                    </select>
            </div>
        </div>
          <div class="row">
             <div class="col mt-4">
                <label for="">Password</label>
                <input type="password" name="Password" id="Password" class="form-control bg-light" minlength="8" placeholder="Password">
                <p class="text-danger mt-1">( Note : Password is min length of 8)</p>
             </div>
             <div class="col mt-4">
                <label for="">Re-enter Password</label>
                <input type="password" name="ComfrimPassword" id="ComfrimPassword" class="form-control bg-light" minlength="8" placeholder="Re-enter Password">
             </div>
          </div>
          <br><br><input type="submit" value="Register" id="SubmitButton" class="btn btn-success">
          <input type="reset" value="Reset" class="btn btn-danger ml-3">
            </form>
            <div class="text-danger fs-4" id="Error"></div>
            <div>
            </div>
        </div>
        <hr class="mb-5 mt-5">
   <%- include('../layout/Footer')%>

    </body>
</html>
<script>
    
    $('document').ready(function(){
        $('#AdmissionRegistrationForm').submit(function(event){
            event.preventDefault()
            const Password=$('#Password').val()
            const ComfrimPassword=$('#ComfrimPassword').val()
            if(Password===ComfrimPassword){
            $.ajax({
                url:'/admission/admissionRegistration',
                type:'post',
                data: $('#AdmissionRegistrationForm').serialize(),
                success:function(Result){
                    alert(Result)
                    $('#Content').load('/admission/admissionRegPassModel?AdmissionNO='+Result.AdmissionNO)
                },
                error:function(){alert('Server Error')}
            })
            }else{
                $('#Error').text('Password is Not Matched')
                $('#Password').val('')
                $('#ComfrimPassword').val('')
            }
        })
    })
    function showEnrollment(){
         $('#hide').removeAttr('hidden')
         $('#EnrollmentNO').attr('required')
    }
</script>
