<%- include('../Layout/Bootstrap') %>
<%- include('../Layout/logo') %>
<hr class="mt-5">
<form action="" id="AdminRegister" class="m-5" autocomplete="off">
    <input type="text" name="Name" id="" placeholder="Name" class="form-control w-50" required>
    <input type="email" name="Email" id="" placeholder="Email" class="form-control w-50 mt-3"required>
    <input type="text" name="Mobile" id="" pattern="[0-9]{10}" placeholder="Mobile" minlength="10" maxlength="10" class="mt-3 form-control w-50"required>
    <input type="text" name="AdminID" id="" placeholder="Admin Id" class="form-control w-50 mt-3"required>
    <input type="password" name="Password" id="" placeholder="Password" class="form-control w-50 mt-3"required>
    <button type="submit" class="btn btn-danger mt-5">Submit</button>
</form>
<script>
$('document').ready(function(){
    $('#AdminRegister').submit(function(event){
        event.preventDefault()
        $.ajax({
            url:'/LMS/LMSAdminRegister',
            type:'post',
            data:$('#AdminRegister').serialize(),
            success:function(Result){alert(Result)},
            error:function(){alert('Sarver Error')},
        })
    })
})

</script>