<head>
    <title>Tech Farmer University</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">

<%- include('../Layout/BootStrap') %>
<link rel="stylesheet" href="/homeStyle/homeStyle.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div class="header">
    <%- include('../Layout/Logo') %>
  <a href="/admin/" class="btn btn-warning float-end  me-4">Admin Login</a>

</div>
<hr style="margin-top: 5%;">
<ul id="nav" style="margin-top: 0%;">
  <li class="li"><a class="link active ml-3" href="/" >Home</a></li>
  <li class="li"><a class="link ml-3" href="/News/" >News</a></li>
  <li class="li"><a class="link ml-3" href="/">Facilitis</a></li>
  <li class="li"><a class="link ml-3" href="/Admission/">Admission</a></li>
  <li class="li"><a class="link ml-3" href="/Examination/">Examination</a></li>
  <li class="li"><a class="link ml-3" href="/onlineExamination/result">Result</a></li>

  <div class="float-end mt-2 me-2">
    <input type="search" name="" id="" class="form-control" placeholder="Search">
  </div>
  <div class="float-end mt-2 me-4">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
  <li  class="li float-end me-5"><a href="/EntranceExamination" class="link" >Entarnce Exam <sup style="color: red;">New</sup></a></li> 
</ul>
<div class="bg-dark m-3 pb-3 text-center float-end" style="height:auto;width: 20%;">
  <a href="/LMS" class="btn btn-warning w-75 mt-4">Library Management</a><br>
  <a href="/Sport/SportLogin" class="btn btn-warning w-75 mt-4">Sport Management</a><br>
  <a href="/onlineExamination/" class="btn btn-warning w-75 mt-4">Online Examination</a>
  <a href="/Student/" class="btn btn-warning w-75 mt-4">Student Corner</a>
  <a href="/Faculty" class="btn btn-warning w-75 mt-4">Faculty Corner</a>
</div>
</div>
<div>
  <nav id="side-nav">
    <ul>
      <li><a href="#">
          <i class="fab fa-facebook-f"></i><span>Facebook</span>
      </a></li>
      <li><a href="#">
          <i class="fab fa-twitter"></i><span>Twitter</span>
      </a></li>
      <li><a href="#">
          <i class="fab fa-instagram"></i><span>Instagram</span>
      </a></li>
      <li><a href="https://www.linkedin.com/in/tushar-rajput-17059b211">
          <i class="fab fa-linkedin-in"></i><span>linkedin</span>
      </a></li>
      <li><a href="#">
          <i class="fab fa-github"></i><span>github</span>
      </a></li>
      <li><a href="#">
          <i class="fab fa-youtube"></i><span>youtube</span>
      </a></li>
    </ul>
  </nav>
</div>
</body>
</html>

<script>
   function load(){
     
   }
</script>