<div id="footer">
      <div class="bg-primary text-light mt-2">
         <p class="p-3"> <strong>Disclaimer&nbsp; :</strong>
            This site is designed, developed and hosted by Tushar Rajput , TFU and the contents are provided by TFU. For any further information, please contact Tushar Rajput . (91+ 9548574169)</p>
      </div>
</div>