<nav >
    <!-- <link rel="stylesheet" href="/logoStyle.css"> -->
    
    <a href="../"><img src="/logo.png" alt="logo" class="logo"></a>
    <h1 style="text-align:left;margin-top:-11.5%;margin-left: 16%;">
       <a href="../"class="F_U" title="Tech Farmer University">Tech Farmer University</a><br>
       <a href="../" class="F_U_Hindi">प्रौद्योगिकी किसान विश्वविद्यालय</a>
    </h1>
</nav>
<style>
.F_U{
    font-size: 50px;
    text-align: center;
    color:rgb(92, 41, 8);
    text-decoration: none;
}
.F_U:hover{
    color:rgb(92, 41, 8);
}
.F_U_Hindi{
    color: yellowgreen;
    text-decoration: none;
    padding-left: 20px;
}
.logo{
    width:170px;
    margin-top:20px;
    margin-left: 50px;
}
.F_U_Hindi:hover{
    color: yellowgreen;
}
</style>